<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:url" content="<%= nonton %>" />
    <meta property="og:video" content="<%= nonton %>" />
    <meta property="og:video:url" content="<%= nonton %>" />
    <meta property="og:video:type" content="video/mp4" />
    <meta property="og:video:width" content="460" />
    <meta property="og:video:height" content="258" />
    <title>Document</title>
  </head>
  <body>
    <video width="600" height="600" controls>
      <source src="<%= nonton %>" type="video/mp4" />
      Your browser does not support the video tag.
    </video>

    <!-- <iframe
      src="https://r2---sn-25ge7nsk.googlevideo.com/videoplayback?expire=1603578999&ei=9zuUX6K8HtWzuALIt7WwAQ&ip=2a04:3543:1000:2310:30da:13ff:fead:6be6&id=bafc1e2a7e28b450&itag=18&source=blogger&mh=HW&mm=31&mn=sn-25ge7nsk&ms=au&mv=m&mvi=2&pl=50&susc=bl&mime=video/mp4&dur=1425.264&lmt=1602271127370392&mt=1603550092&txp=1310224&sparams=expire,ei,ip,id,itag,source,susc,mime,dur,lmt&sig=AOq0QJ8wRQIhAPb-B61sphnAYVhICriiGb3wrLdI7diinra9MQJIVaB1AiBEgbTbq71B2ImktKM3i_KRY1vlxKAlZOov_XlMNiPqdA%3D%3D&lsparams=mh,mm,mn,ms,mv,mvi,pl&lsig=AG3C_xAwRAIgftJeEpbmCnRoeOkRDjIGj-6PFexwj-niv7EitJfRBrECIHGORwrEktb4rUYjIds_MQ7V3EhWruvpwwCPpIsa3Xtp"
      width="100%"
      height="600px"
      allowfullscreen="true"
      webkitallowfullscreen="true"
      mozallowfullscreen="true"
    ></iframe> -->
    <!-- <iframe
      src="<%= nonton %>"
      width="100%"
      height="600px"
      allowfullscreen="true"
      webkitallowfullscreen="true"
      mozallowfullscreen="true"
    ></iframe> -->
  </body>
  <script></script>
</html>
